body{
    margin: 0;
    box-sizing: border-box;
}
/*First animation start*/
#first-animation{
    margin: 10px;
    animation-name: first-animation;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}
@keyframes first-animation{
    0%, 100%{
        width: 200px;
        height: 200px;
        background-color: fuchsia;
        border: 1px solid fuchsia;
        border-radius: 2px;
    }
    50%{
        width: 400px;
        height: 400px;
        background-color: lightgreen;
        border: 1px solid lightgreen;
        border-radius: 50%;
    }
}
/*First animation end*/
/*Second animation start*/
/*
#second-animation-container{
    width: 500px;
    height: 300px;
    border: 5px red solid;
}
.second-animation{
    display: inline-block;
    border: 1px solid green;
}
*/
/*Second animation end*/

